/*Key Frames*/

@keyframes fade-bottom-header {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }

    100% {
        opacity: 100%;
        transform: translateY(0px);
    }
}

@keyframes fade-pop {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}



@keyframes fade-right-h1 {
    0% {
        opacity: 0;
        transform: translateY(80px);
    }

    100% {
        opacity: 100%;
        transform: translateY(0px);
    }
}

@keyframes fade-right-h2 {
    0% {
        opacity: 0;
        transform: translateY(150px);
    }

    100% {
        opacity: 100%;
        transform: translateY(0px);
    }
}

@keyframes fade-right-p {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 100%;
        transform: translateY(0px);
    }
}

@keyframes fade-right-btn {
    0% {
        opacity: 0;
        transform: translateY(120px);
    }

    100% {
        opacity: 100%;
        transform: translateY(0px);
    }
}

@keyframes fade-right-icons {
    0% {
        opacity: 0;
        transform: translateY(120px);
    }

    100% {
        opacity: 100%;
        transform: translateY(0px);
    }
}